<h1>Your Profile</h1>

<div class="borrowed-books-list">
  <h2>Borrowed Books</h2>
  <ul>
    <% @borrowed_books.each do |borrowing| %>
      <div class="borrowed-book-item">
        <div>
          <li class="book-info">
            <%= borrowing.book.title %> by <%= borrowing.book.author %> 
            (Due: <%= borrowing.due_date %>)
          </li>

          <div class="due-date-info">
            <strong>Due In:</strong>
            <%= (borrowing.due_date.to_date - Date.current).to_i %> days
          </div>
        </div>
        <%= button_to 'Return', return_book_book_path(borrowing.book), method: :post, class: "return-btn" %>
      </div>
    <% end %>
  </ul>
</div>
